<navbar-chat>
	<div class="navbar">
		<div class="navbar-bg"></div>
	    <div class="navbar-inner">
	    	<div class="left hide show-sm">
		        <a class="link icon-only panel-open" data-panel="left">
		            <i class="icon txt-white icon-menu"></i>
		        </a>
		    </div>
		    
			<div class="title title-center txt-white">
				<div class="nameNav" onclick="G.goHash('index');">CHAT</div>
			</div>

			<div class="right" onclick="G.goHash('index')">
				<a class="link icon-only">
					<i class="icon txt-white icon-arrow-left"></i>
				</a>
			</div>
		</div>
	</div>
</navbar-chat>