<navbar-index>
	<style>
		.nameNav{
			color: white;
			font-size: 20px;
			font-weight: bold;
		}

		.notificationNumber{
			position: absolute;
			top: 10px;
			left: 5px;
		}
	</style>

	<div class="navbar" id="navbar-index">
		<div class="navbar-bg"></div>
	    <div class="navbar-inner">
	    	<div class="left hide show-sm">
		        <a class="link icon-only panel-open" data-panel="left">
		            <i class="icon txt-white icon-menu"></i>
		        </a>
		    </div>
	
		    <div class="title title-center" onclick="G.goHash('index');">
				<div class="nameNav">ALAORDEN <i class="icon txt-white icon-user-check" if={token}></i> </div>
		    </div>

			<div class="right">
				<a class="link icon-only" onclick="G.goHash('chat');">
					<i class="icon icon-message-square txt-white"></i><span class="badge color-red notificationNumber" if={countNotification != 0}>{countNotification}</span>
				</a>
			</div>
		</div>
	</div>
	<script>
		s.navbarIndex = this
	</script>
</navbar-index>