<navbar-sucursales>
	<style>
		.nameNav{
			color: white;
			font-size: 20px;
			font-weight: bold;
		}
	</style>

	<div class="navbar" id="navbar-sucursales">
		<div class="navbar-bg"></div>
	    <div class="navbar-inner">
	    	<div class="left hide show-sm">
		        <a class="link icon-only panel-open" data-panel="left">
		            <i class="icon txt-white icon-menu"></i>
		        </a>
		    </div>
	
		    <div class="title title-center" onclick="G.goHash('index');">
				<div class="nameNav">SUCURSALES</div>
		    </div>

			<div class="right">
				<a class="link icon-only" onclick="G.goHash('index');">
					<i class="icon txt-white icon-arrow-left"></i>	
				</a>
			</div>
		</div>
	</div>
</navbar-sucursales>