<aside class="panel panel-left panel-cover">
    <div class="page">
        <div class="navbar">
            <div class="navbar-bg"></div>
            <div class="navbar-inner sliding">
                <div class="title txt-white">
                    MI BARRIO
                </div>
                <div class="right">
                    <a class="link panel-close"><i class="icon icon-x txt-white"></i></a>
                </div>
            </div>
        </div>
        <div class="page-content" style="padding-top: 44px!important;">
            <img class="elevation-4" src="http://localhost:3000/api/LocalContainers/temporalfiles/download/logo.jpg" style="width: 100%;height: 35%;">
            <div class="block-title">Jose Luis Lopez Ramos #1470</div>
            <div class="list">
                <ul>
                    <li>
                        <div class="item-content button" onclick="G.goHash('index')">
                            <div class="item-media"><i class="icon icon-sm-op8 icon-home"></i></div>
                            <div class="item-inner">
                                <div class="item-title ttu">Menu</div>
                            </div>
                        </div>
                    </li>
                    <li> 
                        <div class="item-content button" onclick="G.goHash('sucursales')">
                            <div class="item-media"><i class="icon icon-sm-op8 icon-map"></i></div>
                            <div class="item-inner">
                                <div class="item-title ttu">Sucursales</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div style="opacity: 0;position: absolute;bottom: 0;">
                <button onclick={meseroLogin} class="col button button-large button-raised btn-fill-app">Log In</button>
            </div>
        </div>
    </div>
    <script>
        s.aside = this;
        s.aside.counter = 0;
        meseroLogin(){
            s.aside.counter++;
            if (s.aside.counter == 5) {
                if (token) {
                    localStorage.removeItem('user');
                    token = null;
                    G.toast('Sesión cerrada', 'center');
                    G.goHash('index');
                }else{
                    s.aside.counter = 0;
                    loginScreen.open();
                }
            }
            setTimeout(() => {
                s.aside.counter = 0;
            }, 5000);
        }
    </script>
</aside>