<chat>
    <div class="page-content messages-content">
        <div class="messages" style="min-height: 85%!important;">
            <!-- Messages title -->
            <div class="messages-title"><b>Sunday, Feb 9,</b> 12:58</div>
            <!-- Messages -->
            <div class={s.chat.author == message.author ? "message message-sent" : "message message-received"} each={message in s.chat.messages}>
                <div class="message-content">
                    <div class="message-bubble">
                        <div class="message-text">{message.text}</div>
                    </div>
                </div>
            </div> 
        </div>
        <div class="toolbar messagebar">
            <div class="toolbar-inner">
                <div class="messagebar-area">
                    <textarea class="resizable" id="mensaje" placeholder="Mensaje"></textarea>
                </div>
                <a class="link icon-only" onclick={sendMessage}>
                    <i class="icon icon-send"></i>
                </a>
            </div>
        </div>
    </div>

    <script>
        s.chat = this;
        s.chat.messages = {};

        socket.on('messages', function(){
            s.chat.load();
        });

        load(){
            let filter = {
                order: 'createdAt ASC',
                limit: 10
            }

            fetch(api+"/Messages?filter="+encodeURIComponent(JSON.stringify(filter)), {
                method: 'GET',
                headers: {'Content-Type': 'application/json'}
            })
            .then(response => response.json())
            .then(data => {
                data.sort();
                s.chat.messages = data;
                if (token) {
                    s.chat.author = token.nameContact;
                }else{
                    s.chat.author = 'mesa';
                }
                s.chat.update();
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }

        this.on('mount', function() {
            this.readMessage()
            this.load();
        })

        sendMessage(){
            if ($('#mensaje').val() != '') {
                socket.emit('newMessage', {
                    author: token ? token.nameContact : 'mesa',
                    text: $('#mensaje').val()
                });
    
                fetch(api+"Messages", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        author: token ? token.nameContact : 'mesa',
                        text: $('#mensaje').val()
                    }),
                })
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    $('#mensaje').val('')
                })
                .catch((error) => {
                    console.error('Error:', error);
                });
            }
        }
        
        readMessage(){
            let filter = {
                author: {
                    neq: token ? token.nameContact : 'mesa'
                }
            }

            fetch(api+"Messages/update?where="+ encodeURIComponent(JSON.stringify(filter)), {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    isRead: true
                })
            })
            .then(response => response.json())
            .then(data => {
                countNotification = 0;
                s.navbarIndex.update();
                s.navProducts.update();
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        }


    </script>
</chat>