<index>
    <style>
        .headerCategory{
            font-size: var(--f7-card-expandable-header-font-size);
            font-weight: var(--f7-card-expandable-header-font-weight);
            font-weight: bold;
            color: black;
        }
    </style>
	<div class="block-title">Tenemos las siguientes categorias para ti</div>
	<div class="card" style="border-radius: 31px;" onclick={watchProduct(1)}>
        <div class="card-header headerCategory">Hamburguesas</div>
        <div class="card-content" style="border-radius: 31px;">
            <img class="elevation-9" style="width: 100%; height: auto;border-bottom-left-radius: 31px;border-bottom-right-radius: 31px;" src="http://localhost:3000/api/LocalContainers/temporalfiles/download/hamburguesa1.jpg" width="70">
        </div>
    </div>
    <div class="card" style="border-radius: 31px;" onclick={watchProduct(2)}>
        <div class="card-header headerCategory">Alitas</div>
        <div class="card-content" style="border-radius: 31px;">
            <img class="elevation-9" style="width: 100%; height: auto;border-bottom-left-radius: 31px;border-bottom-right-radius: 31px;" src="http://localhost:3000/api/LocalContainers/temporalfiles/download/alitas1.jpg" width="70">
        </div>
    </div>
	<div class="card" style="border-radius: 31px;" onclick={watchProduct(3)}>
        <div class="card-header headerCategory">Pizzas</div>
        <div class="card-content" style="border-radius: 31px;">
            <img class="elevation-9" style="width: 100%; height: auto;border-bottom-left-radius: 31px;border-bottom-right-radius: 31px;" src="http://localhost:3000/api/LocalContainers/temporalfiles/download/pizza2.jpg" width="70">
        </div>
    </div>

    <br><br><br>
	<script>
        s.index = this
        s.index.product = null;
        watchProduct(product){
            return function(event){
                switch (product) {
                    case 1:
                        s.index.product = 'Hamburger';
                        break;
                    case 2:
                        s.index.product = 'Chicken wings';
                        break;
                    case 3:
                        s.index.product = 'Pizza';
                        break
                }
                    G.goHash('products');
            }
        }
        
	</script>
</index>