<login>
  <div class="view">
    <div class="page login-screen-page" style="width:100%!important;transform:translateX(0px)!important;">
      <div class="page-content login-screen-content">
        <div class="login-screen-title">ALAORDEN</div>
        <form onsubmit="event.preventDefault();s.login.login('login-form')" id="login-form">
          <div class="list">
            <ul>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Nombre de usuario</div>
                  <div class="item-input-wrap">
                    <input required type="text" name="email" placeholder="Nombre de usuario">
                    <span class="input-clear-button"></span>
                  </div>
                </div>
              </li>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">Contraseña</div>
                  <div class="item-input-wrap">
                    <input required type="password" name="password" placeholder="Contraseña">
                    <span class="input-clear-button"></span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="list">
            <ul>
              <li>
                <div class="block">
                  <p class="row">
                    <button class="col button button-large button-raised btn-fill-app">Log In</button>
                  </p>
                </div>
              </li>
            </ul>
            <div class="block-footer">Ukelelesoft &copy;.</div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    s.login = this
    login(idForm){
      let form = getFormData($('#login-form'));
      console.log(form);
      fetch(api+"AppUsers/login?include=user", {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            email: form.email,
            password: form.password
        }),
        })
        .then(response => response.json())
        .then(data => {
            console.log('Success:', data);
            if (data.user) {
              token = data.user;
              localStorage.setItem('user', JSON.stringify(data.user));
              loginScreen.close();
              G.goHash('index');
            }else{
              loginScreen.close();
              G.toast('Credenciales no validas', 'center');
            }
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }
  </script>
</login>