<products>
	<style>
		.clockProduct{
			font-size: 13px!important;
			bottom: 3px!important;
			margin-right: 3px!important;
			position: relative!important;
		}
	</style>
	<div class="block-title">Recomendados para ti</div>
	<div class="list media-list">
        <ul each={product, index in s.products.products}>
            <li onclick={openProduct(index)}>
                <a href="#" onclick="" class="item-link item-content">
                    <div class="item-media"><img class="elevation-4" src="http://localhost:3000/api/LocalContainers/temporalfiles/download/{product.img}" width="70"></div>
                    <div class="item-inner">
                        <div class="item-title-row">
                            <div class="item-title" style="width:100%">{product.name}</div>
							<div class="item-after">${product.price}</div>
                            <div class="item-after">
								<i class="icon icon-x" if={!product.status}></i>
								<i class="icon icon-check" if={product.status}></i>
							</div>
                            <!-- <div class="item-after"><i class="icon icon-clock"></i>{product.time}</div> -->
                        </div>
                        <div class="item-subtitle"><i class="icon icon-clock clockProduct"></i>{product.time}</div>
                        <div class="item-text">
                            {product.description}
                        </div>
                    </div>
                </a>
            </li>
		</ul>
    </div>


	<script>
		slide(){
			return function(){
				console.log('up');
				var swiper = app.swiper.get('.swiper-container');
				swiper.slideNext();
			}
		}

		s.products = this
		s.products.products = []
		s.products.filter = {
			order: 'levelVisualization ASC',
			where: {
				appUserId: '5f1cac6686c5da33d8e2beb0',
				category: s.index.product
			}
		}

		this.on('mount', function () {
			this.loadData()
		})

		loadData(){
			console.log('load');
			$.ajax({
				url: api+'Products?filter='+encodeURIComponent(JSON.stringify(s.products.filter)),
				type: 'GET',
				dataType: 'json'
			})
			.done(function(r) {
				s.products.products = r
				s.products.update()
			})
		}

		openProduct(index){
			return function(){
				s.products.product = s.products.products[index];
				G.openPopUp('product');
			}
		}
	</script>
</products>