<sucursales>
    <div class="block-title">Nuestras sucursales</div>

    <div class="card-content">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1796.7828461206568!2d-108.9947049420839!3d25.751872295910335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x86ba2f810dc8c823%3A0xb81e35e9f23b9457!2sJos%C3%A9%20Luis%20L%C3%B3pez%20Ramos%201470%2C%20Nuevo%20Siglo%2C%2081294%20Los%20Mochis%2C%20Sin.!5e0!3m2!1sen!2smx!4v1595804320016!5m2!1sen!2smx" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
    </div>
</sucursales>