<popup-product>
    <style>
        .letter{
            font-size: 17px;
            font-weight: bold;
        }
    </style>
    <div class="view">
        <div class="page no-resize">
            <div class="navbar">
                <div class="navbar-bg"></div>
                <div class="navbar-inner">
                    <div class="title txt-white">{s.products.product.name}</div>
                    <div class="right">
                        <a class="link popup-close"><i class="icon icon-x txt-white"></i></a>
                    </div>
                </div>
            </div>
            <div class="page-content">
                <img class="elevation-4" src="http://localhost:3000/api/LocalContainers/temporalfiles/download/{s.products.product.img}" width="100%">
                <div class="block-title">Información del platillo.</div>
                <div class="list inset">
                    <ul style="border-radius: 28px;">
                        <li class="item-content item-input">
                            <div class="item-media"><i class="icon icon-paperclip"></i></div>
                            <div class="item-inner" style="">
                                <div class="item-input-wrap">
                                    <div class="letter">{s.products.product.name}</div>
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-media"><i class="icon icon-tag"></i></div>
                            <div class="item-inner" style="">
                                <div class="item-input-wrap">
                                    <div class="letter">{s.products.product.description}</div>
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-media"><i class="icon icon-dollar-sign"></i></div>
                            <div class="item-inner" style="">
                                <div class="item-input-wrap">
                                    <div class="letter">${s.products.product.price}</div>
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-media"><i class="icon icon-clock"></i></div>
                            <div class="item-inner" style="">
                                <div class="item-input-wrap">
                                    <div class="letter">{s.products.product.time}</div>
                                </div>
                            </div>
                        </li>
                        <li class="item-content item-input">
                            <div class="item-media"><i class="icon icon-plus-square"></i></div>
                            <div class="item-inner" style="">
                                <div class="letter" each={extra, index in s.products.product.additionals}>{index + 1}. {extra}</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</popup-product>